
  canvas {
    height: 100vh;
    width: 100vw;
    background-image: url("IMG_7064.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  